# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/@types/node/assert.d.ts
node_modules/@types/node/buffer.buffer.d.ts
node_modules/@types/node/buffer.d.ts
node_modules/@types/node/constants.d.ts
node_modules/@types/node/crypto.d.ts
node_modules/@types/node/dgram.d.ts
node_modules/@types/node/fs.d.ts
node_modules/@types/node/http.d.ts
node_modules/@types/node/https.d.ts
node_modules/@types/node/module.d.ts
node_modules/@types/node/net.d.ts
node_modules/@types/node/package.json
node_modules/@types/node/perf_hooks.d.ts
node_modules/@types/node/process.d.ts
node_modules/@types/node/README.md
node_modules/@types/node/sea.d.ts
node_modules/@types/node/sqlite.d.ts
node_modules/@types/node/stream.d.ts
node_modules/@types/node/test.d.ts
node_modules/@types/node/timers.d.ts
node_modules/@types/node/util.d.ts
node_modules/@types/node/vm.d.ts
node_modules/@types/node/worker_threads.d.ts
node_modules/@types/node/fs/promises.d.ts
node_modules/@types/node/stream/consumers.d.ts
node_modules/@types/node/stream/web.d.ts
node_modules/@types/node/timers/promises.d.ts
node_modules/@types/node/ts5.6/buffer.buffer.d.ts
node_modules/acorn/CHANGELOG.md
node_modules/acorn/package.json
node_modules/acorn/dist/acorn.js
node_modules/acorn/dist/acorn.mjs
node_modules/debug/CHANGELOG.md
node_modules/debug/LICENSE
node_modules/debug/node.js
node_modules/debug/package.json
node_modules/debug/README.md
node_modules/debug/src/browser.js
node_modules/debug/src/common.js
node_modules/debug/src/index.js
node_modules/debug/src/node.js
node_modules/undici-types/dispatcher.d.ts
node_modules/undici-types/package.json
node_modules/undici-types/readable.d.ts
node_modules/undici-types/webidl.d.ts
