* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html,
body,
#root {
  height: 100vh;
}

body {
  overscroll-behavior: contain;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: #757575;
}

code {
  background-color: #eeeeee;
  font-family: monospace;
  padding: 2px;
}
